<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/components/main.css">
    <link rel="stylesheet" href="../static/css/pages/404.css">
</head>
<body>
    <div class="card">
        <h3 class="title">Error 404</h3>
        <div class="message">
            <p>Page not found</p>
            <ul class="links">
                <a href="/"><li><i class="fa fa-home"></i></li></a>
            </ul>
        </div>
    </div>
</body>
</html>