{% extends './base.html'%}
{% block title %} Documentation {% endblock title %}
{% block css %}
    <link rel="stylesheet" href="../static/css/pages/docsui/docs.css">
{% endblock css%}


{% block barner %} D.D.API Docs {% endblock barner %}

{% block links %}
    <a href="/"><li><i class="fa fa-home"></i></li></a>
    <a href="/genericdata">Genericdata</a>
{% endblock links %}


{% block app %}
    <nav class="sidenav">
        <div class="appbar">
            <div class="search">
                <i class="fa fa-search"></i>
                <input name="search" id="search" placeholder="Search docs"/>
            </div>
        </div>
        <div class="listview">
            {% for doclink in docs %}
                <div class="tile" onclick="renderDoc('{{doclink.link}}')">
                    <h3>{{ doclink.name }}</h3>
                </div>
            {% endfor %}
        </div>
    </nav>
    <section class="doc" id="docsview">
        <div class="appbar">
            <h1 id="title">[[ title ]]</h1>
        </div>
        <div class="content" id="content">
            <div class="item" v-for="item in content">
                <h3 class="sub_title">[[item.sub_title]]</h3>
                <p class="par" v-for="par in item.body">
                    [[ par ]]
                </p>
            </div>
        </div>
    </section>

{% endblock app%}

{% block scripts %}
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/pages/docsui/docs.js"></script>
{% endblock scripts%}