{% extends './base.html'%}
    {% block css %}
        <link rel="stylesheet" href="../static/css/pages/genericdata.css">   
        <style>
            section.app{
                height:100vh;
            }
            ul#data_list li{
                /*first letter to uppercase*/
            }
            div.topnav{
                max-height:50px;
                overflow-y:hidden;
            }
            div.links{
                padding:0px;
            }
        </style> 
    {% endblock css %}
    {% block searchmeta %}{% endblock searchmeta %}

    {% block barner %}
        <h3 class="barner">Generic Data</h3>
    {% endblock barner %}

    {% block links %}
        <ul class="links">
            <a href="/"><li><i class="fa fa-home"></i></li></a>
            <a href="/mydb"><li>MyDB</li></a>
        </ul>
        
    {% endblock links%}

    {% block app %}
        <div class="app" id="app">
            <div class="data_list">
                <div class="barner">
                    <h3 class="barner">Data List</h3>
                </div>
                <div class="list">
                    <ul id="data_list">
                        {% for file in gDList %}
                            <li onclick="updateGenericData('{{rUrl}}/{{file}}.json')">{{file}}</li>
                        {% endfor %}
                        <!--<li onclick="updateGenericData()">One</li>
                        <li>One</li>
                        <li>Two</li>-->
                    </ul>
                </div>
            </div>
            <div class="data" id="selected_data">
                <div class="appbar">
                    <h3 class="title">[[title]]</h3>
                    <div class="endpoint">
                        <h3 class="title small">Endpoint <i>[[endpoint]]</i></h3>
                        <a v-bind:href="[[endpoint]]" download><button class="download"><i class="fa fa-download"></i></button></a>
                    </div>
                </div>
                <div class="resources" id="data_resources">
                    <!--endpoint from vue-->
                    <div class="sect">
                        <h3 class="title">Structure</h3>
                        <p>[[ structure ]]</p>
                    </div>
                    <div class="sect">
                        <h3 class="title">Raw Data</h3>
                        <code class="data">
                            <p v-for="object in raw_data">[[object]]</p>
                        </code>
                    </div>
                </div>
            </div>
        </div>
        <script src="../static/js/vue.js"></script>
        <script src="../static/js/pages/genericdata.js"></script>
    {% endblock app %}

