{% extends './base.html'%}
    {% block css %}
        <link rel="stylesheet" href="../static/css/pages/genericdata.css">   
        <style>
            section.app{
                height:100vh;
            }
            ul#data_list li{
                /*first letter to uppercase*/
            }
            div.topnav{
                max-height:50px;
                overflow-y:hidden;
            }
            div.links{
                padding:0px;
            }
            div.app,div#app{
                display: flex;
                flex-direction: column;
                padding:0px;
                width:800px;
            }
            div.variables_list{
                padding:20px;
                text-align: center;
            }
            span.variable{
                padding:5px;
                color:lightseagreen;
            }
            div.editor{
                width:100%;
            }
            button.submit,textarea{
                position: relative;
                padding:10px;
                resize: none;
                outline: none;
                width:90%;
                margin:10px 0px;
                left:50%;
                transform: translateX(-50%);
            }
            textarea{
                text-align: left;
                height:300px;
            }
        </style> 
    {% endblock css %}
    {% block searchmeta %}{% endblock searchmeta %}

    {% block barner %}
        <h3 class="barner">Generated Data</h3>
    {% endblock barner %}

    {% block links %}
        <a href="/"><li><i class="fa fa-home"></i></li></a>
        <a href="/genericdata"><li>Genericdata</li></a>
        <a href="/documentation"><li>Documentation</li></a>
    {% endblock links%}

    {% block app %}
        <div class="app" id="app">
            <div class="editor">
                <div class="variables_list">
                    <h3 class="title">Variables</h3>
                    {% for variable in ddl_variables%}
                        <span class="variable">{{variable}}</span>
                    {% endfor %}
                </div>
                <h3 class="title">Query</h3>
                <textarea name="usersJson" placeholder="Type your query" id="query"></textarea>
                <button class="submit" id="submit" disabled>Submit</button>
            </div>
            <div class="output">
                <h3 class="title">OutPut</h3>
                <div id="output"></div>
            </div>
        </div>
        <script src="../static/js/vue.js"></script>
        <script src="../static/js/pages/generated_data.js"></script>
    {% endblock app %}

