<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../static/images/profiles/dummy_data_api_landing_image.png" type="image/x-icon">
    <title>Dummy Data API Home</title>
    <link rel="stylesheet" href="../static/css/components/main.css">
    <link rel="stylesheet" href="../static/css/components/navs.css">
    <link rel="stylesheet" href="../static/css/pages/index.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
</head>
<body>
    <div class="topnav topnavshow" id="topnav">
        <div class="container">
            <div class="barner">
                <!--<img src="../static/images/logo.png" alt="Dummy Data Api logo" class="logo">-->
                <img src="../static/images/profiles/dummy_data_api_landing_image.png" alt="Dummy Data Api logo" class="logo">
                <h3 class="barner">D.D.API</h3>
            </div>
            <ul class="links">
                <a href="/genericdata"><li>GenericData</li></a>
                <a href="/documentation"><li>Documentation</li></a>
                <!--<a href="mydb.html"><li>MyDB</li></a>-->
            </ul>
        </div>
    </div>
    <header class="landing" style="background-image: url('../static/images/programmer.png');">
        <div class="container">
            <div class="text">
                <h3 class="super_title">Dummy Data API</h3>
                <p class="large">
                    Generate data for your user interface without too much of a hustle of going through hardcodding through many components.
                </p>
                <div class="call_to_action">
                    <button class="btn-callToAction"><a href="https://github.com/kaigikinyua/dumyapi"><i class="fab fa-github"></i></a></button>
                    <button class="btn-callToAction"><i class="fab fa-twitter"></i></button>
                </div>
            </div>
            <div class="image">
                <!--<img src="../static/images/logo.png" alt="" class="card">-->
                <img src="../static/images/profiles/dummy_data_api_landing_image.png" alt="Dummy Data Api logo" class="card">
            </div>
        </div>
    </header>
    <section class="full about">
        <div class="container">
            <div class="slides">
                <!--generic data slide-->
                <div class="slide">
                    <h3 class="title">Order the data you want</h3>
                    <div class="slide_content">
                        <div class="text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, illum. Ducimus odit debitis cum harum, sit quidem amet repellat. Eius quia consequuntur quisquam exercitationem cupiditate enim totam, adipisci cumque in.</p>
                        </div>
                        <div class="image">
                            <img src="../static/images/dropping_data_packages.png" alt="" class="slide">
                        </div>
                    </div>
                </div>
                <!--robustness even on mobile apps-->
                <div class="slide">
                    <h3 class="title">Access dummy data anywhere</h3>
                    <div class="slide_content">
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit esse excepturi consequuntur distinctio sapiente totam, quisquam voluptatum eos et laudantium vero nesciunt! Amet mollitia, praesentium eius beatae ut consequuntur culpa.</p>
                        </div>
                        <div class="image">
                                <img src="../static/images/user.png" alt="" class="slide">
                        </div>
                    </div>
                </div>
                <!--adjust quantity of generic data-->
                <div class="slide">
                    <h3 class="title">Develop interfaces without a backend</h3>
                    <div class="slide_content">
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet, autem, fugiat sit, assumenda totam perspiciatis quisquam minima atque harum dolores odit necessitatibus sequi accusantium adipisci accusamus! Quisquam reiciendis consequuntur unde.</p>
                        </div>
                        <div class="image">
                                <img src="../static/images/products.png" alt="" class="slide">    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full generic_Data">
        <div class="container" id="generic_data_container">
            <h3 class="title">Uniq Data Samples</h3>
            <div class="card_container">
                <div class="usecase">
                    <i class="fa fa-user"></i>
                    <p class="big_number" data-curr="3450">0</p>
                    <h3 class="sub_title">Dummy Users</h3>
                </div>
                <div class="usecase">
                    <i class="fa fa-image"></i>
                    <p class="big_number" data-curr="21304">0</p>
                    <h3 class="sub_title">Dummy Products</h3>
                </div>
                <div class="usecase">
                    <i class="fa fa-list"></i>
                    <p class="big_number" data-curr="30000">0</p>
                    <h3 class="sub_title">Text Blobs</h3>
                </div>
                <div class="usecase">
                    <i class="fa fa-list"></i>
                    <p class="big_number" data-curr="30000">0</p>
                    <h3 class="sub_title">List Items</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="footer">
        <div class="container dual_flex">
            <div class="info"><small>Open API</small></div>
            <ul class="links">
                <a href="https://github.com/kaigikinyua/dumyapi"><li><i class="fa fab-github"></i></li></a>
            </ul>
        </div>
    </div>
</body>
<script src="../static/js/ui.js"></script>
<script src="../static/js/pages/index.js"></script>
</html>
