@import '../components/mixins.scss';
body{
    overflow: hidden;
    background: $darkbg;
    color:white;
}
#app{
    position: relative;
    height: 85vh;
    width:100vw;
    @include center_s;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.data_list{
    margin:10px;
}
.list{
    padding:10px;
}
ul{
    list-style-type: none;
    li{
        padding:10px;
    }
}
div.appbar{
    padding:10px;
    display: flex;
    justify-content: space-between;
}
#selected_data{
    position: relative;
    height:100%;
    div.sect{
        padding:10px;
    }
}
div.resources{
    position: relative;
    overflow-y:scroll;
    height:70vh;
    margin-bottom: 100px;
}
div.endpoint{
    display: flex;
}
button.download{
    @include button;
    padding:10px;
    font-size: 1.2em;
    color:white;
    background:none;
}
pre.data{
    position: relative;
    width:50vw;
    overflow-x:scroll;
    i.square{
        color:lightseagreen;
        font-style: normal;
    }
    i.curly{
        color:crimson;
        font-style: normal;
    }
}
div.footer{
    display: none;
}