@import '../components/mixins.scss';
body{
    background:$darkbg;
}
header.landing{
    height: 100vh;
    width:100vw;
    background:$darkbg;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .container{
        height:70%;
        @include center_s;
        background:rgba(10, 10, 10, 0.6);
        color:white;
        padding:20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
section.full{
    height: 100vh;
    width:100vw;
    .container{
        height:70%;
        @include center_s;
        //text-align: center;
        h3.title{
            text-align: center;
        }
    }
    .title{
        color:lightseagreen;
        font-size: 1.6em;
    }
}

div.text{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    text-align: center;
}
div.image{
    position: relative;
    text-align: center;
    img{
        height:auto;
        width:80%;
    }
}

div.card_container{
    display: flex;
    justify-content: space-evenly;
    //flex-flow: wrap;
    flex-wrap: wrap;
    text-align: center;
}
div.usecase{
    padding:10px;
    flex-shrink: 0;
    width:250px;
    height: 150px;
    background:white;
    border-radius: 20px;
    margin:5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
p.big_number{
    font-size: 3em;
    font-family: monospace;
}

//slides
div.slides{
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
    height:100%;
}
div.slide{
    position: relative;
    height:100%;
    width:100%;
    flex-shrink: 0;
    h3.title{
        font-size: 3em;
        color:white;
        font-weight: lighter;
    }
    div.slide_content{
        padding:5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        div{
            position: relative;
            top:50%;
            transform: translateY(-50%);
            font-size: 1.5em;
            color:lightblue;
            margin:20px 0px;
            img.slide{
                position: relative;
                height:auto;
                width:100%;
            }
        }   
    }
}