<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenApi</title>
</head>
<body>
    <div class="topnav">
        <div class="container">
            <div class="barner">
                <h3 class="barner">MyDB</h3>
            </div>
            <ul class="links">
                <a href="/"><li>Home</li></a>
                <a href="/genericdata/show"><li>Home</li></a>
            </ul>
        </div>
    </div>
    <div class="sidenav">
        <div class="barner"></div>
        <div class="menu"></div>
        <div class="footer"></div>
    </div>
    <div class="app" id="app"></div>
</body>
</html>