@import '../../components/mixins.scss';
body{
    background: $darkbg;
}
section.app{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height:90vh;
}
nav.sidenav,section.doc{
    padding:10px;
    margin-top:50px;
}

nav.sidenav{
    position: relative;
    height: 100%;
    input{
        padding:5px;
        border:none;
        outline: none;
        background:none;
    }
}
div.appbar{
    background:$lightbg;
    color:white;
    padding:10px;
}
div.search{
    padding:5px;
    background:white;
    border-radius: 10px;
    i{color:$darkbg}
}
ul#doc_links{
    list-style-type: none;
    li{
        padding:10px;
        padding: 10px;
        background: none;
        //border-radius: 20px;
        margin: 10px 0px;
        text-align: center;
        text-decoration: uppercase;
        text-transform: capitalize;
        border:1px solid $lightbg;
        transition: 1s;
        color:white;
    }
    li.active{
        background:$lightbg;
        border-right: 5px solid lighten($lightbg,20%);
    }
    li:hover{
        background:lighten($lightbg,10%);
    }
}
div.content{
    position: relative;
    height:90%;
    width:100%;
    overflow-y:scroll;
    background: white;
}
.sub_title{
    padding:10px;
}
.sub_title::before{
    content: '# ';
}
p.par{
    padding:10px;
    margin-bottom: 30px;
}